<range-slider-component></range-slider-component>

<md-input-container class="md-block" ng-if="!$ctrl.viewModel.deltas">
    <md-checkbox class="md-primary" ng-model="$ctrl.viewModel.flipped" ng-change="$ctrl.apply()">
        Invert Colors
    </md-checkbox>
</md-input-container>

<md-input-container class="md-block" ng-if="$ctrl.viewModel.deltas">
    <md-checkbox class="md-primary" ng-model="$ctrl.viewModel.deltaColorFlipped" ng-change="$ctrl.apply()">
        Invert Delta Colors
    </md-checkbox>
</md-input-container>

<md-slider-container class="md-block">
    <span>color</span>
    <md-slider flex="" min="0" max="1000000000" ng-model="$.ctrl.viewModel.availableColors.first" ng-change="$ctrl.apply()">
    </md-slider>
    <md-input-container>
        <input flex="" type="number" ng-model="$.ctrl.viewModel.test" ng-change="$ctrl.apply()">
    </md-input-container>
</md-slider-container>

<reset-settings-button-component settings-names="deltaColorFlipped,neutralColorRange.to,neutralColorRange.flipped,neutralColorRange.from"></reset-settings-button-component>